$color-blue: #0971ce;
$color-white: #fff;
$color-transparent: transparent;
$color-dark-blue: #222b39;
$color-light-blue: rgba(11, 80, 113, 0.3);
$color-golden-yellow: #daa520;

$blue-gradient: linear-gradient(135deg, #172a54 19%, #0971ce 46%, #00b4e5 78%);

$desktop-xl: 1560px;
$desktop-lg: 1340px;
$desktop-md: 1200px;
$desktop-sm: 1024px;
$tablet-lg: 962px;
$tableet-md: 840px;
$tablet-sm: 720px;
$mobile-lg: 600px;
$mobile-md: 425px;
$mobile-sm: 325px;