@use '../sass/variables';

.post{
    margin-top: 20px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2{
        position: absolute;
        top: -100px;
        left: 42%;
        font-size: 35px;
        color: #fff;
        text-decoration: underline;
    }
    .text-holder{
        position: relative;
        width: 100%;
    }
    p{
        text-align: justify;
        padding: 5px 50px;
    }
    img{
        width: 100%;
        position: relative;
        &:last-child{
            width: 40%;
            height: 40%;
        }
    }
    .second-pic{
        margin-top: 50px;
        border-radius: 5px;
    }

    @media screen and (min-width: variables.$tableet-md) {
        width: 100%;
    }

}