@use '../sass/mixins';
@use '../sass/variables';
.gallery {
	padding: 80px 0;
	/* display: grid;
	grid-template-columns: 1fr 1fr; */

	.gallery-item {
		padding: 0 15px;
		.gallery-image-container {
			width: 100%;
			@media screen and (min-width: variables.$tablet-lg) {
				display: flex;
			}
		}
	}
	
}
