@use '../sass/variables';

.dajak-school{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    h2{
        width: 100%;
        margin: 5px 0;
        line-height: 2.5;
        text-align: center;
        background-color: #21396f;
        color: variables.$color-white;
    }

    p{
        text-align: justify;
        padding: 0 150px;
        @media screen and (max-width: variables.$tableet-md) {
            padding: 0 55px;
        }
        @media screen and (max-width: variables.$mobile-lg) {
            padding: 0 15px;
        }
        
    }

    h4{
        background-color: #21396f;
        color: variables.$color-white;
        line-height: 2;
        width: 100%;
        margin: 2px 0;
        text-align: center;
    }

    img{
        border-radius: 15px;
        max-width: 100%;
        margin-bottom: 30px;
        padding: 10px;
        @media screen and (max-width: variables.$mobile-lg){
            margin-bottom: 0;
        }
    }
}