@use '../sass/mixins';
@use '../sass/variables';
.single-gallery {
	.images {
		@include mixins.flex(column, space-between, center);
		@media screen and (min-width: variables.$tableet-md) {
			display: grid;
			grid-template-columns: repeat(3, 32%);
			grid-auto-rows: 10px;
			grid-auto-flow: dense;
		}
		a {
			display: block;
			width: 100%;
			overflow: hidden;
		}
	}
}
