@use '../sass/variables';
@use '../sass/mixins';
.header {
    background-color: variables.$color-light-blue;
    
    .banner {
        height: 250px;
        position: relative;
        color: variables.$color-white;
        background-size: cover;
        background-position: center;
        @media screen and (min-width: variables.$tablet-sm) {
            height: 450px;
        }
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: variables.$color-dark-blue;
            opacity: 0.2;
        }
        .dajak {
            position: absolute;
            background-color: rgba(130, 130, 130, 0.6);
            padding: 7px;
            text-align: center;
            border-bottom: 1px solid #0b5071;
            border-left: 1px solid #0b5071;
            right: 0;
            top: 0;
            p {
                margin: 0;

            }
            h1 {
                font-size: 2.2rem;
                margin: 0;
                line-height: 2;
                @media screen and (min-width: variables.$tableet-md) {
                    font-size: 2.8rem;
                }
            }

            @media screen and (max-width:variables.$tablet-sm) {
                left: 0;
                top: 0;
                width: 42%;
                font-size: 15px;
            }
            @media screen and (max-width:variables.$mobile-md){
                width: 100%;
                background-color: transparent;
                border: none;
                text-align: start;
            }
            
        }
        .typed-text {
            position: absolute;
            left: 10px;
            bottom: 15px;
            h2 {
                font-size: 1.2rem;
                text-transform: uppercase;
                font-weight: 300;
                margin: 0;
                @media screen and (min-width: variables.$tableet-md) {
                    font-size: 1.8rem;
                }
                @media screen and (max-width: variables.$mobile-sm){
                    font-size: 1rem;
                }
                span {
                    font-weight: 400;
                }
            }
        }
    }
}