@use '../sass/mixins';
@use '../sass/variables';

.menu {
    position: fixed;
    top: 125px;
    right: -100%;
    width: 100%;
    background-color: variables.$color-dark-blue;
    transition: right 0.4s;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding: 20px 15px 15px 0;
    &.active {
        right: 0;
    }
    @media screen and (min-width: variables.$desktop-sm) {
        position: static;
        @include mixins.flex(row, flex-end, center);
        background-color: variables.$color-transparent;
        column-gap: 70px;
    }
    @media screen and (max-width: variables.$tablet-sm) {
        top: 80px;
    }
    li {
        position: relative;
        line-height: 2;
        width: 100%;
        text-align: center;
        @media screen and (min-width: variables.$desktop-sm) {
            width: auto;
            text-align: left;
        }        
        a {
            color: variables.$color-white;
            
            @media screen and (min-width: variables.$desktop-sm) {
                color: variables.$color-dark-blue;
            }
        }
        button {
            color: variables.$color-white;
            background-color: variables.$color-transparent;
            border: none;
            font-size: inherit;
            font-weight: 600;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            column-gap: 5px;
            cursor: pointer;
            
            @media screen and (min-width: variables.$desktop-sm) {
                color: variables.$color-dark-blue;
            }
            &.active {
                svg {
                    transform: rotate(180deg);
                }
            }
        }
        .dropdown {
            height: 0;
            width: 100%;
            top: 100%;
            overflow: hidden;
            &.active {
                height: auto;
                    @media screen and (min-width: variables.$desktop-sm) {
                        border: 1px solid variables.$color-dark-blue;
                        border-radius: 5px;
                        z-index: 1050;
                        background-color: variables.$color-white;
                    }
            }
            @media screen and (min-width: variables.$desktop-sm) {
                position: absolute;
                left: 0;
                top: 110%;
                width: 200px;
                padding: 0 15px;
               
            }
            li {
                @media screen and (min-width: variables.$desktop-sm)  {
                    line-height: 2;
                }
            }
        }
    }
}
