@use '../sass/variables';
@use '../sass/mixins';

nav {
    padding: 0 15px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 125px;
    background-color: variables.$color-white;
    z-index: 1050;
    @media screen and (max-width: variables.$tablet-sm) {
            height: 90px;
    }
    .container {
        @include mixins.flex(row, space-between, center);
        height: 100%;
        .logo{
            padding-left: 10px;
            @media screen and (max-width: variables.$tablet-sm) {
                padding: 5px 0 0;
                width: 50%;
            }

            img{
            @media screen and (max-width: variables.$tablet-sm) {
            width: 80px;
            height: 80px;
            }
            }
        }
        .contact-us{
            display: flex;
            justify-content: space-between;
            line-height: 3.15;
            background-color: variables.$color-light-blue;
            border-radius: 20px;
            @media screen and (max-width:variables.$tablet-sm) {
                display: none;
            }
            .info {
                @include mixins.flex(column, center, flex-start);
                row-gap: 8px;
                padding-left: 15px;
                @media screen and (min-width: variables.$mobile-lg) {
                    flex-direction: row;
                }
                @media screen and (min-width: variables.$mobile-lg) {
                    row-gap: 0;
                    column-gap: 15px;
                }
                a {
                    @include mixins.flex(row, flex-start, center);
                    column-gap: 8px;
                    color: variables.$color-dark-blue;
                    transition: color 0.3s;
                    
                    &:hover {
                        color: variables.$color-golden-yellow;
                    }
                }
            }
            .social {
                @include mixins.flex(row, flex-start, center);
                column-gap: 8px;
                padding-right: 15px;
                a {
                    @include mixins.flex(row, center, center);
                    width: 42px;
                    height: 42px;
                    border-radius: 50%;
                    border: 1px solid variables.$color-dark-blue;
                    transition: background-color 0.6;
                    color: variables.$color-dark-blue;
                    svg {
                        transition: transform 0.6s;
                    }
                    &:hover {
                        background-color: variables.$color-golden-yellow;
                        svg {
                            transform: rotateY(360deg);
                        }
                    }
                }
            }
        }
        
        .mobile-btn {
            display: block;
            @media screen and (min-width: variables.$desktop-sm) {
                display: none;
            }
            .mob-btn {
                width: 42px;
                height: 42px;
                position: relative;
                border: none;
                padding: 4px;
                background-color: variables.$color-transparent;
                span {
                    width: 80%;
                    height: 3px;
                    background-color: variables.$color-dark-blue;
                    position: absolute;
                    left: 10%;
                    &:first-child {
                        top: 17%;
                    }
                    &:nth-child(2) {
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    &:last-child {
                        bottom: 17%;
                    }
                }
                &.active {
                    span {
                        &:first-child {
                            top: 50%;
                            transform: translateY(-50%) rotate(45deg);
                        }
                        &:nth-child(2) {
                            display: none;
                        }
                        &:last-child {
                            bottom: 50%;
                            transform: translateY(50%) rotate(-45deg);
                        }
                    }
                }
            }
        }
        .nav-right{
            display: flex;
            flex-direction: column;
            height: 110px;
            width: 89%;
            @media screen and (max-width:variables.$desktop-sm) {
                height: auto;
                width: 70%;
            }
        }
    }
    
   
    
}